# On ignore tout le contenu du dossier Media
db.sqlite3
__pycache__/*
venv/
.env
media/*
BarbiLink/CA_OpenSSL/
.claude

# Sauf les fichiers .gitkeep pour garder la structure des dossiers
!Media/.gitkeep