<div id="password-section" class="bg-white p-4 rounded-4 shadow-sm">
    <h5 class="mb-3">Modifier mon mot de passe</h5>
    <hr>
    
    {% if error_message %}
        <div class="alert alert-danger small">{{ error_message }}</div>
    {% elif success_message %}
        <div class="alert alert-success small">{{ success_message }}</div>
    {% endif %}

    <form hx-post="{% url 'accounts:change_password' %}" hx-target="#password-section" hx-swap="outerHTML">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Ancien mot de passe :</label>
            <div class="position-relative">
                <input type="password" id="old_password" name="old_password" 
                    class="form-control form-control-sm barbi-input" 
                    value="{{ form_data.password }}" required>
                
                <span class="position-absolute end-0 top-50 translate-middle-y me-2" 
                    onclick="togglePassword('old_password', this)" 
                    style="cursor: pointer; z-index: 10;">
                    <i class="fa fa-eye text-secondary" id="togglePasswordIcon"></i>
                </span>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Nouveau mot de passe :</label>
            <div class="position-relative">
                <input type="password" id="new_password" name="new_password" 
                    class="form-control form-control-sm barbi-input" 
                    value="{{ form_data.new_password }}" required>
                
                <span class="position-absolute end-0 top-50 translate-middle-y me-2" 
                    onclick="togglePassword('new_password', this)" 
                    style="cursor: pointer; z-index: 10;">
                    <i class="fa fa-eye text-secondary" id="togglePasswordIcon"></i>
                </span>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Confirmer le nouveau mot de passe :</label>
            <div class="position-relative">
                <input type="password" id="confirm_password" name="confirm_password" class="form-control form-control-sm barbi-input" 
                    value="{{ form_data.confirm_password}}" required>

                <span class="position-absolute end-0 top-50 translate-middle-y me-2" 
                    onclick="togglePassword('confirm_password', this)" 
                    style="cursor: pointer; z-index: 10;">
                    <i class="fa fa-eye text-secondary" id="togglePasswordIcon"></i>
                </span>
            </div>
        </div>
        <button type="submit" class="btn btn-purple">Modifier</button>
    </form>
</div>



<!-- Script pour valider le mot de passe. -->
<script>
function validatePasswords() {
    const pass = document.getElementById('new_password').value;
    const confirm = document.getElementById('confirm_password').value;
    const errorDiv = document.getElementById('password-error');

    if (pass !== confirm) {
        errorDiv.style.display = 'block';
        return false; // Empêche l'envoi du formulaire
    }
    errorDiv.style.display = 'none';
    return true;
}
</script>

<!-- Script pour afficher ou cacher le mot de passe. -->
<script>
function togglePassword(inputId, element) {
    const input = document.getElementById(inputId);
    const icon = element.querySelector('i');
    
    if (input.type === "password") {
        input.type = "text";
        icon.classList.remove("fa-eye");
        icon.classList.add("fa-eye-slash");
    } else {
        input.type = "password";
        icon.classList.remove("fa-eye-slash");
        icon.classList.add("fa-eye");
    }
}
</script>