{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BarbiLink</title>
    
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/formulaires.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}?v=1.0">
    <link rel="stylesheet" href="{% static 'css/apps.css' %}">
    
    <script src="{% static 'js/htmx.min.js' %}"></script>
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <div class="sidebar">
        <div class="text-center mb-4">
            <img src="{% static 'img/logo.png' %}" alt="BarbiLink" class="img-fluid" style="max-width: 150px;">
        </div>
        
        <ul class="nav flex-column mt-4">
            <li class="nav-item">
                <a class="nav-link" 
                   hx-get="{% url 'apps_manager:list_app' %}" 
                   hx-target="#main-display" 
                   hx-push-url="true"
                   style="cursor:pointer;">
                    <i class="fas fa-user-cog me-2"></i> Mes applications
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" 
                   hx-get="{% url 'accounts:profile' %}" 
                   hx-target="#main-display" 
                   hx-push-url="true"
                   style="cursor:pointer;">
                    <i class="fas fa-user-cog me-2"></i> Mon compte
                </a>
            </li>
        </ul>
    </div>

    <div class="main-content">
        <header class="d-flex justify-content-between align-items-center mb-4">

            <!-- Bouton hamburger (visible uniquement mobile) -->
            <button class="btn-hamburger" onclick="toggleSidebar()">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Utilisateur (droite) -->
            <div class="d-flex align-items-center ms-auto">
                <span class="me-3 text-muted"><strong>{{ request.user.username }}</strong></span>
                <div class="dropdown">
                <i class="fas fa-user-circle fs-2 text-purple"
                    data-bs-toggle="dropdown"
                    style="cursor:pointer;"></i>
                <ul class="dropdown-menu dropdown-menu-end shadow border-0">
                    <li><a class="dropdown-item" href="{% url 'accounts:login' %}">
                    <i class="fas fa-sign-out-alt me-2"></i>Déconnexion
                    </a></li>
                    <li><a class="dropdown-item" href="{% url 'accounts:delete_user' %}">
                    <i class="fas fa-trash me-2"></i>Supprimer mon compte
                    </a></li>
                </ul>
                </div>
            </div>

        </header>

        <!-- Overlay -->
        <div class="sidebar-overlay" id="sidebarOverlay" onclick="toggleSidebar()"></div>

        <div id="main-display" class="fade-in">      
            {% block content %}
                
            {% endblock %}
        </div>    
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
     {% block extra_js %}
     
     {% endblock %}
</body>
</html>






<script>
function toggleSidebar() {
  const sidebar = document.querySelector('.sidebar');
  const overlay = document.getElementById('sidebarOverlay');

  sidebar.classList.toggle('open');
  overlay.classList.toggle('active');
}
</script>

